/* static/css/style.css */
body {
    background-color: #191414 !important; 
}

.btn-success {
    background-color: #1DB954;
    border-color: #1DB954;
}

.btn-success:hover {
    background-color: #1ed760;
    border-color: #1ed760;
}